.about {
  padding-top: 5.4px;
  @media screen and (min-width: 768px) {
    padding-top: 69px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 111px;
  }
}
.about-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.about-text_box {
  @media screen and (min-width: 320px) {
    max-width: 279px;
  }
  @media screen and (min-width: 768px) {
    max-width: 336px;
    margin-left: 31.79px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 382px;
    margin-left: 139.3px;
  }
}

.about_title {
  font-family: 'Caveat Brush';
  font-size: 24px;
  line-height: calc(30 / 24);

  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: calc(65 / 36);
  }
}

.about_txt {
  font-size: 16px;
  line-height: 20px;
  text-align: initial;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

.check_text {
  display: none;
  &:checked .btn-hidden_text {
    display: block;
  }
  &:checked ~ .checked_label .btn-show_text {
    display: block;
  }
  &:checked ~ .checked_label .btn-show_text {
    display: none;
  }
}

.check-text_item {
  display: none;
}

// .hidden {display: none;}
// .show {display: inline-block;}

// .check {display: none;}
// .check:checked ~ .hidden {display: block;}
// .check:checked ~ label .show {display: none;}
// .check:checked ~ label .hidden {display: inline-block;}

// .btn {
//   background-color: #045acf;
//   color: white; padding: 3px 10px;
//   border-radius: 5px; cursor: pointer;
// }
