:root {
  --cover-color: #fffff9;
  --main-text-color: #2e2520;
  --pre-title-color: #000000;
  --btn_color: #ab816c;

  --white-color: #ffff;
}

$animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);

// Breakpoints

$mobile-breakpoint: 320px;
$mobile-second-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desktop-second-breakpoint: 1600px;

// Comon colors

$main-background-color: rgba(255, 255, 249, 1);
$second-background-color: rgba(254, 243, 228, 1);
$accent-color: rgba(171, 129, 108, 1);

$main-text-color: rgba(46, 37, 32, 1);
$second-text-color: rgba(171, 129, 108, 0.5);
$button-text-color: white;

// Animation Function

$animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);

// Additional normalizing
