<section class="about conteiner">
  <div class="about-conteiner">
    <div class="abiut-img-box">
      <picture>
        <source
          srcset="./images/about.png 1x, ./images/about_2x.png 2x"
          media="(min-width: 1200px)"
          width="501.7"
          ;
        />

        <source
          srcset="./images/about_table.png 1x, ./images/about_table_2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about_mob.png 1x, ./images/about_mob_2x.png 2x"
          media="(max-width: 767px)"
        />
        <img src="./images/about.png" alt="coffee donut package" class="about_img" />
      </picture>
    </div>
    <div class="about-text_box">
      <h2 class="about_title">About us</h2>
      <p class="about_txt">Oh My Donut is the shop which adores</p>
      <button class="open-text">Read more</button>
    </div>
  </div>
</section>
