<header>
    <div class="conteiner header-content ">
        <div class="nav-content">
            <a href="./" class="logo_link"><svg class="logo__icon">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg></a>

            <div class="hamb">
                <div class="hamb__field" id="hamb">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>

            <nav>
                <ul class="nav_list" id="menu">
                    <li class="logo-mobile"><a href="#" class="logo-mobile"><svg width="190" height="85">
                                <use href="./images/spritee.svg#icon-logo"></use>
                            </svg></a> </li>
                    <li class="nav_item "><a href="#about" class="nav_link">About us</a></li>
                    <li class="nav_item"><a href="#program" class="nav_link">Program</a></li>
                    <li class="nav_item"><a href="#reviews" class="nav_link">Reviews</a></li>
                    <li class="nav_item"><a href="#reviews" class="nav_link">Contacts</a></li>
                </ul>

            </nav>
            <div class="popup" id="popup"></div>



        </div>
        <div class="menu">
            <h1 class="menu_title">Donut Masterclass <br> with the Donut King</h1>
            <h2 class="pre-menu_title">Hosted by Eva Green</h2>
            <button type="button" class="menu-register_btn">Register</button>
            <ul class="social_list">
                <li class="social_item"><a href="./" class="social_link"><svg class="social_icon">
                            <use href="./images/sprite.svg#icon-twitter" width="16" height="16"></use>
                        </svg></a></li>
                <li class="social_item"><a href="./" class="social_link"><a href="./" class="social_link"><svg
                                class="social_icon">
                                <use href="./images/sprite.svg#icon-instagram" width="16" height="16"></use>
                            </svg></a></li>
                <li class="social_item"><a href="./" class="social_link"><a href="./" class="social_link"><svg
                                class="social_icon">
                                <use href="./images/sprite.svg#icon-facebook" width="16" height="16"></use>
                            </svg></a></li>
            </ul>

        </div>
</header>