
<header>
<a href="./" class="logo_link"></a>

    <ul class="menu">
        <li class="menu_item"><a href="./" class="menu_link">About us</a></li>
        <li class="menu_item"><a href="./" class="menu_link">Program</a></li>
        <li class="menu_item"><a href="./" class="menu_link">Reviews</a></li>
        <li class="menu_item"><a href="./" class="menu_link">Contacts</a></li>
    </ul>
    <h1 class="menu_title">Donut Masterclass with the Donut King</h1>
    <p class="menu_text">Hosted by Eva Green</p>
<button type="button" class="menu_btn">Register</button>
</header>